<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <h1>{{model.title}}</h1>
      <ul class="page-list">
        <button class="btn btn-default add-page" {{action 'addPage' 0}}>Add Page</button>
        {{#each pages as |page index|}}
          <h3>Page {{page.id}}</h3>
          <li class="page">
          <button class="btn btn-default add-element" {{action 'showModal' 'add-element-modal'}}>Add Element</button>
          {{#each element in page.elements}}
            <h4>{{element.question}}</h4>
            <h5>Choices:</h5>
            <ul>
            {{#each choice in element.choices}}
            <input type="checkbox"> {{choice}}<br>
            {{/each}}
            </ul>
            <button class="btn btn-default add-element" {{action 'showModal' 'add-element-modal'}}>Add Element</button>
          {{/each}}
          </li>
          <button class="btn btn-default add-page" {{action 'addPage' page.index}}>Add Page</button>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-5 preview">
      <h1>Preview</h1>
    </div>
  </div>
</div>
