<h1>Debug Information</h1>
<ul class="debug">
    <li><strong>id:</strong> {{ id }}</li>
    <li><strong>display_index:</strong> {{ display_index }}</li>
    <li><strong>procedure:</strong> {{ procedure }}</li>
    <li><strong>created:</strong> {{ created }}</li>
    <li><strong>last_modified:</strong> {{ last_modified }}</li>
</ul>
