<form>
    <div class="form-group">
        <label for="username" class="sr-only">{{ i18n "Username" }}</label>
        <input type="text"  class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">{{ i18n "Password" }}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember-me" {{#if remember}}checked{{/if}}>
                {{ i18n "Remember Me" }}
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block" id="login-btn">{{ i18n "Log in" }}</button>
    </div>
</form>

<div class="footnote">
    <p>
        <a href="/{{ currentLanguage }}/resetpassword">{{ i18n "Forgot your password?" }}</a>
    </p>
    <p>
        {{ i18n "Don't have an account? Sign up" }}</a>
    </p>
</div>
