<form>
    <div class="form-group">
        <label for="first_name" class="sr-only">{{ i18n "First Name" }}</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="last_name" class="sr-only">{{ i18n "Last Name" }}</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="username" class="sr-only">{{ i18n "Username" }}</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="email" class="sr-only">{{ i18n "Email" }}</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password1" class="sr-only">{{ i18n "Password" }}</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="password2" class="sr-only">{{ i18n "Re-enter password" }}</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter Password">
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block" id="login-btn">{{ i18n "Sign up" }}</button>
    </div>
</form>

<div class="footnote">
    {{ i18n "Already have an account? Log in" }}
</div>
