<header class="container-fluid spb-container" id="procedures-menu">
    <h1>{{ i18n "Sana Protocol Builder" }}</h1>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <header id="procedures-list-heading">
                <h2>{{ i18n "My Procedures" }}</h2>
                <a id="import-procedure-btn" class="btn btn-success">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{{ i18n "Import a procedure" }}
                </a>
                <input type="file" id="procedure-file-input" name="files[]">

                <a id="new-procedure-btn" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{ i18n "Create a new procedure" }}
                </a>
            </header>
            <nav id="procedure-list-toolbar">
                <form class="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Filter by name" id="procedure-filter">
                    </div>
                </form>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ i18n "Options" }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="sort-by-title" data-sort-key="title">{{ i18n "Sort by Title" }}</a></li>
                        <li><a id="sort-by-author" data-sort-key="author">{{ i18n "Sort by Author" }}</a></li>
                        <li><a id="sort-by-last-modified" data-sort-key="last_modified">{{ i18n "Sort by Last Modified" }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="asc-order" data-sort-order="asc">{{ i18n "Ascending Order" }}</a></li>
                        <li><a id="desc-order" data-sort-order="desc">{{ i18n "Descending Order" }}</a></li>
                    </ul>
                </div>
            </nav>
            <section id="procedures-list"></section>
        </div>
    </div>
</div>

<footer id="main-footer">
    <p>
        {{ i18n "Copyright &copy; 2015-YEAR Sana Protocol Builder" year=copyrightYear }}
    </p>
    <ul>
        <li><a href="/{{ currentLanguage }}/credits">{{ i18n "Credits" }}</a></li>
    </ul>
</footer>
