<a href="/{{ currentLanguage }}/procedures/{{ id }}" title="{{ i18n "Edit this procedure" }}" class="title">
    {{ title }}
</a>
<span class="author">
    <strong>{{ i18n "Author" }}:</strong> {{ author }}
</span>
<span class="last-modified">
    <strong>{{ i18n "Last Modified" }}:</strong> {{ formatDate last_modified }}
</span>
<a class="push glyphicon glyphicon-upload" title="{{ i18n "Push this procedure to devices" }}"></a>
<a class="download glyphicon glyphicon-download-alt" title="{{ i18n "Download this procedure as XML" }}"></a>
<a class="delete glyphicon glyphicon-remove" title="{{ i18n "Delete this procedure" }}"></a>
