<h1>{{ i18n "Page Elements" }}</h1>

<div id="elements-list"></div>

<h1>{{ i18n "Create New Element" }}</h1>

<nav id="new-element-btns">
    {{#each elementTypes}}
    <a class="element-type-{{ sluggify @key }}" data-element-type="{{ @key }}">{{ this }}</a>
    {{/each}}
</nav>
