<h1>{{ i18n "Elements on this page" }}</h1>

<div id="elements-list"></div>

<h1>{{ i18n "Create a new element" }}</h1>

<nav id="new-element-btns">
    {{#each ELEMENT_TYPES}}
    <a class="element-type-{{ sluggify this }}" data-element-type="{{ this }}">{{ i18n this }}</a>
    {{/each}}
</nav>
