<h2>{{ i18n element_type }}</h2>

<a class="delete glyphicon glyphicon-remove" title="{{ i18n "Delete this element" }}"></a>
<a class="move-up glyphicon glyphicon-chevron-up" title="{{ i18n "Move this element up" }}"></a>
<a class="move-down glyphicon glyphicon-chevron-down" title="{{ i18n "Move this element down" }}"></a>

<form id="element-{{ id }}">
    <div class="form-group">
        <label for="eid-{{ id }}">{{ i18n "Element ID" }}</label>
        <input type="text" id="eid-{{ id }}" name="eid" class="form-control eid" value="{{ eid }}">
    </div>
    <div class="form-group">
        <label for="question-{{ id }}">{{ i18n "Question" }}</label>
        <input type="text" id="question-{{ id }}" name="question" class="form-control question" value="{{ question }}">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="required" class="required"> {{ i18n "Required" }}
            </label>
        </div>
    </div>

    <div class="form-group custom-answer"></div>

    <div class="form-group">
        <label for="image-{{ id }}">{{ i18n "Image" }}</label>
        <input type="text" id="image-{{ id }}" name="image" class="form-control image" value="{{ image }}">
    </div>
    <div class="form-group">
        <label for="audio-{{ id }}">{{ i18n "Audio" }}</label>
        <input type="text" id="audio-{{ id }}" name="audio" class="form-control audio" value="{{ audio }}">
    </div>
</form>
