<div class="meta">
    <div class="group">
        <label for="change-title">{{ i18n "Title" }}</label>
        <input type="text" title="{{ i18n "Change the title of this procedure" }}" name="change-title" id="change-title" class="form-control" value="{{ title }}">
    </div>
    <div class="group">
        <label for="change-author">{{ i18n "Author" }}</label>
        <input type="text" title="{{ i18n "Change the author(s) of this procedure" }}" name="change-author" id="change-author" class="form-control" value="{{ author }}">
    </div>
</div>
<div class="meta" id="button-container">
    <a id="save-btn" class="btn btn-success">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        {{ i18n "Save Changes" }}
    </a>
    <a id="download-btn" class="btn btn-default">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        {{ i18n "Download XML" }}
    </a>
    <a id="visualize-btn" class="btn btn-default">
        {{ i18n "Visualize" }}
    </a>
</div>
