<li class="element-template">
    <a class="element">
        {{view 'select' class="form-control" content=types value=model.elementType}}
        {{input type="text" class="form-control" placeholder="Concept" value=model.concept}}
        {{input type="text" class="form-control" placeholder="Question" value=model.question}}
        {{input type="text" class="form-control" placeholder="Answer" value=model.answer}}
        {{#if model.hasChoices}}
            <label>Choices</label>
            {{choice-list choices=model.choices updateChoiceOrder="updateChoiceOrder"}}
        {{/if}}
    </a>
</li>
