<ul class="procedure">
    <li><a class="add-page" {{action 'addPage' 0}}>+</a></li>
    {{#each page in pages}}
        <li class="page-template">
            <a class="open-page" {{action 'editPage' page}} data-id="{{page.id}}">
                <span class="drag-handle octicon octicon-three-bars"></span>
                <span class="page-label">Page {{page.id}}, Display {{page.displayIndex}}</span>
                <span class="add-condition mega-octicon octicon-diff-renamed"></span>
                <span class="delete-page mega-octicon octicon-trashcan" {{action 'deletePage' page}}></span>
            </a>
            <a class="add-page" {{action 'addPage' (plus-one page.displayIndex)}}>+</a>
        </li>
    {{/each}}
</ul>
